<div class="nested-fields">
    <div class="row container">
    <div class="col-md-4">
        <%# if @product.status == true %>
        <%# if order_line.product.status == true %>
            <%= f.association :product, class: "productMenu"  %>
        <%# else %>
            <%# order_line.destroy %>
        <%# end %>
        <%# end %>
    </div>
    <div class="col-md-2">
        <%= f.input :quantity, class: "quantity" %>
    </div>
    <div class="col-md-2">
        <%= link_to_remove_association "Remove product", f, class: "btn btn-danger remove" %>
    </div>
    </div>
    <br>
</div>