<h1>Daily Sales Report</h1>
<span><p><i>As of: <%= Time.now.strftime("%m/%d/%Y") %></i></p> </span>
<div class="row container">
    <div class="col-md-2">
        <h4>Product</h4>
    </div>
    <div class="col-md-3">
        <h4>Quantity Sold Today</h4>
    </div>
</div>
<div class="row container" style="margin-right:200px">
    <% name_quantity = {} %>
    <% product_name = [] %>
    <% current_admin.cashiers.each do |cashier| %>
        <% cashier.orders.each do |order| %>
            <% if order.created_at.strftime("%m/%d/%Y") == Time.now.strftime("%m/%d/%Y") %>
                <% order.order_lines.each do |each_item| %>
                    <% if name_quantity[each_item.product.name] != nil %>
                        <% name_quantity[each_item.product.name] << each_item.quantity %>
                        <% if product_name.include? each_item.product.name == false %>
                            <% product_name << each_item.product.name %>
                        <% end %>
                    <% else %>
                        <% name_quantity[each_item.product.name] = [] %>
                        <% name_quantity[each_item.product.name] << each_item.quantity %>
                        <% if product_name != nil %>
                            <% product_name << each_item.product.name %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
    <% final_quantity = 0 %>
    <% product_name.each do |name| %>
    <% i = 0 %>
   	<div class="col-md-2" id="productList">
   	    <%= name %>
   	    <% name_quantity[name].each do |quantity, name| %>
        <% i += quantity %>
        <% end %>
    </div>
    <div class="col-md-2 center" id="productList">
        <%= final_quantity = i %>
    </div>
</div>
<% end %>

<!--
<h1>Daily Sales Report</h1>
<span><small><i>As of: <%#= Time.now.strftime("%m/%d/%Y") %></i></small> </span>
<table class="table table-striped">
    <thead>
        <th>Product</th>
        <th>Quantity Sold Today</th>
        <th colspan="3"></th>
    </thead>
    <tbody>
    <%# name_quantity = {} %>
    <%# product_name = [] %>
    <%# current_admin.cashiers.each do |cashier| %>
        <%# cashier.orders.each do |order| %>
            <%# order.order_lines.each do |each_item| %>
                <%# if name_quantity[each_item.product.name] != nil %>
                    <%# name_quantity[each_item.product.name] << each_item.quantity %>
                    <%# if product_name.include? each_item.product.name == false %>
                        <%# product_name << each_item.product.name %>
                    <%# end %>
                <%# else %>
                    <%# name_quantity[each_item.product.name] = [] %>
                    <%# name_quantity[each_item.product.name] << each_item.quantity %>
                    <%# if product_name != nil %>
                        <%# product_name << each_item.product.name %>
                    <%# end %>
                <%# end %>
            <%# end %>
        <%# end %>
    <%# end %>
    <%# final_quantity = 0 %>
    <%# product_name.each do |name| %>
        <%# i = 0 %>
        <tr>
        <td><%#= name.capitalize %></td>
        <%# name_quantity[name].each do |quantity, name| %>
            <%# i += quantity %>
        <%# end %>
        <td><%#= final_quantity = i %></td>
        </tr>
    <%# end %>
    </tbody>
</table>

-->