<h1>Orders</h1>
<%# if current_cashier.status == false %>
    <%# render 'publics/index' %>
<%# else %>
<% if @orders.empty? %>
    <small>
        <em>No orders made.</em>
            <button class="btn btn-prmry">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <%= link_to "Add Order", new_order_path, style: 'color:#FFFFFF; text-decoration: none;' %>
    </button>
    </small>
<% else %>
<table class="table" style="text-transform:capitalize">
    <thead>
        <th>ID</th>
        <th>Cashier</th>
        <th>Total</th>
        <th>Cash</th>
        <th>Order</th>
        <th colspan="5"></th>
    </thead>
    <tbody>
        <% @count = 0 %>
        <% i = 0 %>
        <% @orders.each do |order| %>
            <tr>
                <td>
                    <%= @count += 1 %> 
                </td>
                <td>
                    <%= order.cashier.name %>
                </td>
                <td>
                    <%= order.total_price %>
                </td>
                <td>
                    <%= order.cash %>
                </td>
                <td>
                    <% order.order_lines.each do |x| %>
                        <ul>
                            <%= x.quantity %>
                            -
                            <%= x.product.name %>
                        </ul>
                    <% end %>
                </td>
                <td>
                    <% current_cashier.commission %>
                    <% if current_cashier == order.cashier %>
                        <% i += order.total_price * 0.04 %>
                        <% current_cashier.commission = i %>
                    <% end %>
                </td>
                <td>
                    <%= link_to "Show", order, class: "btn btn-info" %>
                </td>
                <td>
                    <%#= link_to "Print", order_summary, class: "btn btn-primary" %>
                </td>
            </tr>
        <% end %>
    </tbody>
    <h4>
    <%= current_cashier.name.capitalize %>'s (<%= current_cashier.email %>) commission: <%= current_cashier.commission %>
    </h4>
    <button class="btn btn-prmry">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <%= link_to "Add Order", new_order_path, style: 'color:#FFFFFF; text-decoration: none;' %>
    </button>
    <br>
</table>
<% end %>
<%# end %>



