<h1>New Order</h1>

<%= simple_form_for @order, url: order_summary_path do |f| %>
   
     <div class="hidin">
        
        <div class="links">
            <%= link_to_add_association 'Add Product', f, :order_lines, class: "btn btn-primary" %>
        </div>
        
        <div id="order_lines" class="hidden">
            <%= f.simple_fields_for :order_lines do |orderline| %>
                <%= render 'order_line_fields', f: orderline %>
                <%#if orderline.product.status == true%>
            <% end %>
        </div>
        
    </div>
    <br>
    <%= f.input :cash, as: :hidden %>
    <%= f.button :submit %>
    <%= link_to "Back", orders_path , class: "btn btn-danger" %>
<% end %>
