<h2>Order Summary</h2>

<table class="table table-striped">
    <thead>
        <th>Product</th>
        <th>Quantity</th>
        <th>Sub Total</th>
        <th colspan="3"></th>
    </thead>
    <tbody>
        <% @order.order_lines.each do |order| %>
            <tr>
                <td>
                    <%= order.product.name %>
                    <%= order.product.price %>
                </td>
                <td>
                    <%= order.quantity %>
                </td>
                <td>
                    <%= order.product.price * order.quantity %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="container">

    <%= simple_form_for @order, :url => orders_path, :method => :create do |f| %>
        <div id="order_lines">
                <div class="hidden">
                    <%= f.simple_fields_for :order_lines do |order_line| %>
                    <%= render 'order_line_fields', f: order_line %>
                    <% end %>
                    <div class="links">
                        <%= link_to_add_association "Add Product", f, :order_lines, class:"btn btn-primary" %>
                    </div>
                </div>
                <div class="nestedfields">
                    <h2>Total Price: <%= @order.total_price %></h2>
                    <%= f.hidden_field :total_price %> <br>
                    <%= f.input :cash, :min => :total_price %>
                </div>
        </div>
        <%= f.submit %>
        <% end %>
</div>








