<h1>Order Information</h1>
<table class="table table-striped">
    <thead>
        <th>Product</th>
        <th>Quantity</th>
        <th>Sub Total</th>
        <th colspan="3"></th>
    </thead>
    <tbody>
        <% @order.order_lines.each do |order| %>
            <tr>
                <td>
                    <%= order.product.name %> 
                    <%= order.product.price %>
                </td>
                <td>
                    <%= order.quantity %>
                </td>
                <td>
                    <%= order.product.price * order.quantity %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
    <h2>Total Price: <%= @order.total_price %></h2>
    <h2>Cash: <%= @order.cash %></h2>
    <h2>Change: <%= @order.cash - @order.total_price %></h2>



<%= link_to "Back", orders_path, class: "btn btn-danger" %>