<!--
<h1>Edit Cashier</h1>

<%#= form_for @cashier, url: cashier_path do |f| %>
    Email: <%#= f.text_field :email %> <br>
    Password: <%#= f.text_field :password %> <br>
    Password Confirmation: <%#= f.text_field :password_confirmation %> <br>
    Name: <#%= f.text_field :name %> <br>

    <%#= f.submit "Submit" %>
<%# end %>
-->


<%= form_for @cashier do |f| %>
<div class="productContainer">
    <div class="row container">
        <h1><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Cashier</h1>
    </div>
    
    <div class="row container">
          <div class="col-md-1">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </div>
          <div class="col-md-2">
            <%= f.text_field :email, class: "inputLogin", placeholder: "Email"%>
          </div>
      </div>
      
      <div class="row container">
        <div class="col-md-1">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </div>
        <div class="col-md-1">
          <%= f.password_field :password, class: "inputLogin", placeholder: "Password" %>
        </div>
      </div>
      
      <div class="row container">
        <div class="col-md-1">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </div>
        <div class="col-md-1">
          <%= f.password_field :password_confirmation, class: "inputLogin", placeholder: "Re-enter Password" %>
        </div>
      </div>
      
      <div class="row container">
          <div class="col-md-1">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </div>
          <div class="col-md-2">
            <%= f.text_field :name, class: "inputLogin", placeholder: "Name"%>
          </div>
      </div>
      
      <br>
      <div class="row container">
        <div class="col-md-2 col-md-offset-1">
            <%= f.submit "Submit", class: "btn btn-prmry" %>
            <%= link_to "Back", products_path, class: "btn btn-danger" %>
        </div>
    </div>
</div>
<% end %>
      
      
      
      
<!--    <div class="row container">
        <div class="col-md-1">
            <h4>Name: </h4>
        </div>
        <div class="col-md-2">
            <%#= f.text_field :email, class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Password: </h4>
        </div>
        <div class="col-md-2">
            <%#= f.text_field :password, class: "input" %>
        </div>
    </div>
     <div class="row container">
        <div class="col-md-1">
            <h4>Password Confirmation: </h4>
        </div>
        <div class="col-md-2">
            <%#= f.text_field :password_confirmation, class: "input" %>
        </div>
    </div>
     <div class="row container">
        <div class="col-md-1">
            <h4>Name: </h4>
        </div>
        <div class="col-md-2">
            <%#= f.text_field :name, class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-2 col-md-offset-1">
            <%#= f.submit "Submit", class: "btn btn-prmry" %>
            <%#= link_to "Back", products_path, class: "btn btn-back" %>
        </div>
    </div>
</div>
<%# end %>