<!--<h1>Cashiers</h1>
<%#= link_to "Add Cashier", new_cashier_path, class: "btn btn-primary" %>


<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Created By</th>
        <th>Status</th>
        <th colspan="4"></th>
    </thead>
    <tbody>
        <%# @cashiers.each do |cashier| %>
            <tr>
                <td>
                    <%#= cashier.name %>
                </td>
                <td>
                    <%#= cashier.email %>
                </td>
                <td>
                    <%#= cashier.admin.email %>
                </td>
                <td>
                    <%#= cashier.status ? "Active" : "Inactive" %>
                </td>
                <td>
                    <%#= link_to "Edit", edit_cashier_path(cashier), class: "btn btn-primary" %>
                </td>
                <td>
                    <%#= link_to "View", cashier, class: "btn btn-primary" %>
                </td>
                <td>
                    <%#= link_to "Change status", cashier, method: :delete, class: "btn btn-primary" %>
                </td>
            </tr>
        <%# end %>
    </tbody>
</table>

-->





<h1>Cashiers</h1>
<div class="row container">
    <div class="col-md-2">
        <h4>Name</h4>
    </div>
    <div class="col-sm-3">
        <h4>Email</h4>
    </div>
    <div class="col-md-2">
        <h4>Created by</h4>
    </div>
    <div class="col-md-2">
        <h4>Status</h4>
    </div>
    <div class="col-md-3 addProduct">
        <button class="btn btn-prmry">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <%= link_to "Add Cashier", new_cashier_path, style: 'color:#FFFFFF; text-decoration: none;' %>
        </button>
    </div>
</div>

<% @cashiers.each do |cashier| %>
<div class="row container">
   	    <div class="col-md-2" id="cashierName"><%= cashier.name %></div>
        <div class="col-sm-3" id="cashierList"><%= cashier.email %></div>
   	    <div class="col-md-2" id="cashierList"><%= cashier.admin.email %></div>
       	<div class="col-md-1" id="cashierList"><%= cashier.status ? "Active" : "Inactive" %></div>
   		<div class="col-md-1" id="cashierBtn"><%= link_to "Edit", edit_cashier_path(cashier), class: "btn btn-primary" %></div>
   		<div class="col-md-1" id="cashierBtn"><%= link_to "View", cashier, class: "btn btn-info" %></div>
   		<div class="col-md-2" id="cashierBtn"><%= link_to "Change status", cashier, method: :delete, class: "btn btn-danger" %></div>
    <% end %>
</div>