<!--<h1>Add Cashier</h1>

<%#= form_for @cashier, url: cashiers_path do |f| %>
    Email: <%#= f.text_field :email %> <br>
    Password: <%#= f.text_field :password %> <br>
    Password Confirmation: <%#= f.text_field :password_confirmation %> <br>
    Name: <%#= f.text_field :name %> <br>
    <%#= f.submit "Submit" %>
<#% end %>
-->


<%= form_for @cashier, url: cashiers_path do |f| %>
<div class="row">
    <div class="col-md-4">
        <div class="cashierContainer">
            <div class="row container">
                <h1>New Cashier</h1>
            </div>
            
            <div class="row container">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <div class="col-md-2">
                    <%= f.text_field :email, class: "inputCashier", placeholder: "Email" %>  
                </div>
            </div>
            
            <div class="row container">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </div>
                <div class="col-md-1">
                    <%= f.password_field :password, class: "inputCashier", placeholder: "Password" %>
                </div>
            </div>
            
            <div class="row container">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </div>
                <div class="col-md-1">
                    <%= f.password_field :password_confirmation, class: "inputCashier", placeholder: "Re-type Password" %>
                </div>
            </div>
            
            <div class="row container">
                <div class="col-md-1">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <div class="col-md-1">
                    <%= f.text_field :name, class: "inputCashier", placeholder: "Name" %>
                </div>
            </div>
            
            <div class="row container">
                <div class="col-md-3" style="margin-top:5px;text-align:right;">
                    <%= f.submit "Submit", class: "btn btn-prmry btn-sm"%>
                    <%= link_to "Back", cashiers_path, class: "btn btn-danger btn-sm" %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>