<!--<h1>Cashier</h1>

Name: <%#= @cashier.name %><br>
Email: <%#= @cashier.email %>
-->

<div class="showCashier">
    <div class="row container">
        <div class="col-md-4 showName">
            <h1><%= @cashier.name %></h1>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Email: </h4>
        </div>
        <div class="col-md-3">
            <h4>
            <%= @cashier.email %>
            </h4>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Admin: </h4>
        </div>
        <div class="col-md-3">
            <h4><%= if @cashier.admin then @cashier.admin.email else 'Anonymous' end%></h4>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Status: </h4>
        </div>
        <div class="col-md-3">
            <h4><%= if @cashier.status == true then 'Active' else 'Inactive' end %></h4>
        </div>
    </div>
    <br>

    <div class="row container" style="margin-right:200px">
        <div class="col-xs-1 center">Order ID</div>
        <div class="col-xs-2">Date Created</div>
        <div class="col-md-2">Total Price</div>
    </div>
    
    <% @orders.each do |a|%>
    <div class="row container" style="margin-right:200px">
        <div class="col-sm-1 center" id="showOrderC"><%= a.id %></div>
        <div class="col-xs-2 orderDate" id="showOrderC"><%= a.created_at%></div>
   	    <div class="col-sm-1 center" id="showOrderC"><%= a.total_price%></div>
    </div>
    <% end %>
</div>
           <!-- <table class="table">
                <tr><th>Order ID</th><th>Date Created</th><th>Total Price</th></tr>
                <%# @orders.each do |a|%>
                <tr>
                    <td><%#= a.id %></td>
                    <td><%#= a.created_at%></td>
                    <td><%#= a.total_price%></td>
                </tr>
                <%# end %>
            </table>
            
        </div>
</div>