// Place all the styles related to the Cashiers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cashier{
    border: 1px solid black;
    padding: 20px;
    max-width: 200px;
}

.cashierContainer
{
    box-shadow: 5px 8px 5px #F0F0F0;
    width: 320px;
    padding: 20px;
}

.showCashier
{
    box-shadow: 5px 8px 5px #F0F0F0;
    width: 400px;
    padding: 20px;
}

#cashierList
{
    background-color: #F7F7F7;
    box-shadow: 0px 8px 5px #F0F0F0;
    margin-bottom: 20px;
    padding: 15px;
    height: 50px;
}

#cashierName
{
    background-color: #F7F7F7;
    box-shadow: 0px 8px 5px #F0F0F0;
    margin-bottom: 20px;
    padding: 15px;
    height: 50px;
    text-transform: capitalize;
}

#cashierBtn
{
    background-color: #F7F7F7;
    box-shadow: 0px 8px 5px #F0F0F0;
    margin-bottom: 20px;
    padding: 10px;
    height: 50px;
}
.addCashier
{
    text-align: right;
}

.showName
{
    text-decoration: underline;
    text-decoration-color: #82CDD1;
    text-transform: uppercase;
}

.inputCashier
{
    border-style: none none solid none;
    border-color: #82CDD1;
    border-width: 3px;
    padding: 5px;
    width: 220px;
    margin-left: -60px;
}
.rowContainer{
    margin-right: 20px;
}
#orderc{
    margin-left: 200px;
}

.center
{
    text-align: center;
}

.orderDate
{
    font-size: 12px;
    padding: 1.5px;
}

#showOrderC
{
    border-style: none none solid none;
    border-color: #82CDD1;
    border-width: 2px;
}

#showContainer
{
    margin-right: 400px;
}