// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested-fields{
    display: flex;
    max-width: 1080px;
}

.remove{
    height: 35px;
    text-align: center;
    vertical-align: center;
    max-width: 200px;
    margin-top: 25px;
    margin-left: 10px;
}
.quantity {
    height: 38px;
    width: 400px;
    margin: 40px;
}
.productMenu
{
    height: 38px;
    width: 500px;
    margin: 40px;
    text-transform: capitalize;
}