// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product{
    border: 1px solid black;
    padding: 20px;
    max-width: 200px;
}

.productContainer
{
    box-shadow: 5px 8px 5px #F0F0F0;
    max-width: 320px;
    padding: 20px;
}

.showProduct
{
    box-shadow: 5px 8px 5px #F0F0F0;
    max-width: 300px;
    padding: 20px;
    text-transform: uppercase;
}

#productList
{
    background-color: #F7F7F7;
    box-shadow: 0px 8px 5px #F0F0F0;
    margin-bottom: 20px;
    padding: 15px;
    height: 50px;
    text-transform: capitalize;
}

#productBtn
{
    background-color: #F7F7F7;
    box-shadow: 0px 8px 5px #F0F0F0;
    margin-bottom: 20px;
    padding: 10px;
    height: 50px;
}
.addProduct
{
    text-align: right;
}

.btn-prmry
{
    background-color: #82CDD1;
    color: white;
}

.btn-prmry:hover
{
    background-color: #6BA8AC;
    color: white;
}

.php:before 
{ 
    content:'PHP '; 
}

.glyphicon-plus
{
    color: white;
}

.input
{
    border-style: none none solid none;
    border-color: #82CDD1;
    border-width: 3px;
}

.showItem
{
    text-decoration: underline;
    text-decoration-color: #82CDD1;
    
}