// Place all the styles related to the Publics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mainContainer{
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    margin-top: 100px;
}

.logIn
{
    box-shadow: 10px 10px 10px #F0F0F0;
    padding: 20px;
}

.glyphicon-user
{
    font-size: 20px;
    padding-top: 5px;
}


.glyphicon-envelope
{
    font-size: 20px;
    padding-top: 5px;
}


.glyphicon-lock
{
    font-size: 20px;
    padding-top: 5px;
}

h2
{
    text-transform: uppercase;
}
.input
{
    border-style: none none solid none;
    border-color: #82CDD1;
    border-width: 3px;
    padding: 5px;
    width: 165px;
}

.inputLogin
{
    border-style: none none solid none;
    border-color: #82CDD1;
    border-width: 3px;
    padding: 5px;
    width: 200px;
    margin-left: -60px;
}
h4
{
    padding-bottom: 5px;
}

.btn-prmry
{
    background-color: #82CDD1;
    color: white;
}

.btn-prmry:hover
{
    background-color: #6BA8AC;
    color: white;
}

.btn-back
{
    background-color: #BE2E2E;
    color: white;
}

.btn-back:hover
{
    background-color: #8E2323;
    color: white;
}