<!--<h1>Edit Product</h1>
<%#= form_for @product do |f| %>
    Name: <%#= f.text_field :name %> <br>
    Price: <%#= f.text_field :price %> <br>
    <%#= f.submit "Submit" %>
<%# end %>
-->



<%= form_for @product do |f| %>
<div class="productContainer">
    <div class="row container">
        <h1><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Product</h1>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Name: </h4>
        </div>
        <div class="col-md-2">
            <%= f.text_field :name, class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Price: </h4>
        </div>
        <div class="col-md-2">
            <%= f.text_field :price, class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-2 col-md-offset-1">
            <%= f.submit "Submit", class: "btn btn-prmry" %>
            <%= link_to "Back", products_path, class: "btn btn-danger" %>
        </div>
    </div>
</div>
<% end %>

