<!--<h1>Products</h1>
<%#= link_to "Add Product", new_product_path, class: "btn btn-primary" %>
<%# if @products.empty? %>
    <small>
        <em>No products made.</em>
    </small>
<%# else %>

<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th colspan="3"></th>
    </thead>
    <tbody>
        <%# @products.each do |product| %>
            <tr>
                <td>
                    <%#= product.name %>
                </td>
                <td>
                    <%#= product.price %>
                </td>
                <td>
                    <%#= product.status ? "Active" : "Inactive" %>
                </td>
                <td>
                    <%#= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %>
                </td>
                <td>
                    <%#= link_to "View", product, class: "btn btn-primary" %>
                </td>
                <td>
                    <%#= link_to "Change status", product, method: :delete, class: "btn btn-primary" %>
                </td>
            </tr>
        <%# end %>
    </tbody>
</table>
<%# end %>
-->

<h1>Products</h1>
<div class="row container">
    <div class="col-md-4">
        <h4>Name</h4>
    </div>
    <div class="col-md-2">
        <h4>Price</h4>
    </div>
    <div class="col-md-2">
        <h4>Status</h4>
    </div>
    <div class="col-md-4 addProduct">
        <button class="btn btn-prmry">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <%= link_to "Add Product", new_product_path, style: 'color:#FFFFFF; text-decoration: none;' %>
        </button>
    </div>
</div>
<div class="row container">
  	<% @products.each do |product| %>
   	    <div class="col-md-4" id="productList"><%= product.name %></div>
        <div class="col-md-2 php" id="productList"><%= product.price %></div>
   	    <div class="col-md-2" id="productList"><%= product.status ? "Active" : "Inactive" %></div>
       	<div class="col-md-1" id="productBtn"><%= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %></div>
   		<div class="col-md-1" id="productBtn"><%= link_to "View", product, class: "btn btn-info" %></div>
   		<div class="col-md-2" id="productBtn"><%= link_to "Change status", product, method: :delete, class: "btn btn-danger" %></div>
    <% end %>
</div>
