<!--<h1>Add Product</h1>

<#%= form_for @product, url: products_path do |f| %>
    Name: <%#= f.text_field :name %> <br>
    Price: <%#= f.text_field :price %> <br>
    Status: <%#= f.text_field :status %> <br>
    <%#= f.submit "Submit" %>
<#% end %>
-->




<%= form_for @product, url: products_path do |f| %>
<div class="productContainer">
    <div class="row container">
        <h1>New Product</h1>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Name: </h4>
        </div>
        <div class="col-md-2">
            <%= f.text_field :name, class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Price: </h4>
        </div>
        <div class="col-md-2">
            <%= f.text_field :price, class: "input" %>
        </div>
    </div>

    <div class="row container">
        <div class="col-md-2 col-md-offset-1">
            <%= f.submit "Submit", class: "btn btn-prmry"%>
        <%= link_to "Back", products_path, class: "btn btn-danger" %>
        </div>
    </div>
</div><% end %>

