<!-- <h1>Product</h1>
<div class="product">
Name: <%#= @product.name %><br>
Price: <%#= @product.price %>

<br>
</div>

<%#= link_to "Back", products_path %>
-->


<div class="showProduct">
    <div class="row container">
        <div class="col-md-3 showItem">
            <h1><%= @product.name %></h1>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Price: </h4>
        </div>
        <div class="col-md-2">
            <h4>
            <%= @product.price %></h4>
        </div>
    </div>
    <div class="row container">
    <%= link_to "Back", products_path, class: "btn btn-danger" %>
    </div>
</div>